@*@model List<>*@
<div class="top-nav">
    <ul class="memenu skyblue">
        <li class="active"><a href="/Home/">Home</a></li>
        <li class="grid">
            <a href="/Products/">Shop</a>
           
        </li>
    
        <li class="grid">
            <a href="typo.html">Blog</a>
        </li>
        <li class="grid">
            <a href="contact.html">Contact</a>
        </li>
    </ul>
</div>
<div class="clearfix"> </div>